.TeamHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* .TeamContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
} */

.TeamMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.TeamMain > * {
  padding: 10px;
}

.TeamMemberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.headshots {
  width: 200px;
  border-radius: 100px;
  border: solid 2.5px;
}

.LinkedIn {
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.408);
  border-radius: 25px;
}

.LinkedIn:hover {
  background-color: rgba(109, 107, 107, 0.408);
}

@media (max-width: 1200px) {
  .TeamMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
