.HelpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HelpSubHeader {
  margin: 30px 0px 10px 0px;
  font-size: 24px;
  text-decoration: underline;
}

.HelpListItem {
  margin-bottom: 20px;
}