.CommunityHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CommunityMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
