.ControlPanelContainer {
  border: 5px solid black;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.ControlPanelMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--divbg);
  margin: 0px 0px 0px 0px;
}