.ControlPointContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-radius: 10px;
  border: 5px solid #7E5A3D;
  margin: 10px;
  padding: 10px;
  background-color: #F8ECDE;
}
.ControlPointContainer > * {
  padding: 5px;
  margin: 5px;
}

.CurveLabel {
  grid-area: 1/1/3/1;
  line-height: 2em;
  display: flex;
  align-items: center;
  cursor: grab;
}

.CurveIndex {
  margin-left: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.XLabel {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  align-items: right;
  justify-content: right;
}
.YLabel {
  grid-area: 2 / 2 / 3 / 2;
  display: flex;
  align-items: right;
  justify-content: right;
}

.CoordinateX {
  grid-row: 1;
  width: 50px;
  background-color: rgba(205, 96, 96, 0.754);
  color: rgb(231, 228, 228);
}
.CoordinateY {
  grid-row: 2;
  width: 50px;
  background-color: rgb(123, 183, 123);
  color: rgb(231, 228, 228);
}

.ControlPointContainer > form {
  display: inline;
}
