.Resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.bezier-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: rgba(249, 249, 249, 0.408); */
  padding: 30px;
  border: 5px solid var(--divborder);
  border-radius: 5px;
  margin: 20px;
  flex: 3;
  font-size: 18px;
}

.pierre-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: rgba(249, 249, 249, 0.408); */
  border: 5px solid var(--divborder);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  flex: 3;
}

.links-container {
  text-align: center;
  /* background-color: rgba(249, 249, 249, 0.408); */
  border: 5px solid var(--divborder);
  border-radius: 5px;
  margin: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.curve-info {
  margin-top: 2em;
}

.links {
  margin-top: 1em;
}

.pierre {
  float: right;
  max-width: 250px;
  border: 5px solid var(--divborder);
  border-radius: 80%;
  margin-right: 20px;
}

.TeamDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0px;
}

.TeamButton {
  cursor: pointer
}

.TeamLink {
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.408);
  border-radius: 10px;
}

.TeamLink:hover {
  background-color: rgba(109, 107, 107, 0.408);
  cursor: pointer;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5em;
  margin-top: 1em;
}

li {
  list-style-type: none;
  text-align: center;
}

.ResourceLinks:hover {
  padding: 3px;
  color: var(--containerbg);
  cursor: pointer;
}

.DarkMode .ResourceLinks:hover {
  color: var(--divborder);
}

.PickleModal {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
}

.PickleText {
  font-family: 'Metal Mania', cursive;
  color: rgba(170, 57, 37, 0.896);
  font-size: 80px;
}

@media (max-width: 1500px) {
  .pierre {
    margin-right: 0px;
  }
}

@media (max-width: 1000px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .flex-container > * {
    margin-bottom: 50px;
  }

  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}
