.Header {
    margin-top: 25px;
    text-align: center;
}

.HeaderAuthContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 20px 20px;
    padding: 0 20px 0 20px;
}

.CoinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.TitleContainer {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.AppTitle {
    /* border: 1px solid black; */
    font-family: 'Bungee Shade', cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.AppLogo {
    margin-top: 5px;
    max-width: 35px;
    max-height: 35px;
}

.SignContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}

.UserSign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}