@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.Header {
    text-align: center;
}

.HeaderAuthContainer {
    display: flex;
    flex-flow: row flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    padding: 0 20px 0 20px;
}

.Blank {
    flex-grow: 1;
}

.AppTitle {
    /* border: 1px solid black; */
    font-family: 'Bungee Shade', cursive;
}

.UserSign {
    display: flex;
    align-items: stretch;
    /* border: 1px solid black; */
}