.Header {
    text-align: center;
    margin-top: 2em;
}

.HeaderAuthContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 20px 20px;
    padding: 0 20px 0 20px;
}

.CoinContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.TitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.AppTitle {
    /* border: 1px solid black; */
    font-family: 'Bungee Shade', cursive;
    margin-bottom: 0px;
    margin-left: 15px;
}

.SignContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}

.UserSign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.UserName {
    text-decoration: 'underline';
    font-weight: 'bold';
}

.UserName:hover {
    color: var(--divbg)
}