@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Metal+Mania&family=Quantico:wght@400;700&display=swap');

/* COLOR PALETTE */
:root {
  --pagebg: #ab8a6f;
  --divbg: #f8ecde;
  --divborder: #7e5a3d;
  --containerbg: #f8ecde;
  --olive: #8b956d;
  --lightblue: #224bac;
  --darkbrown: #4f433e;
  --orange: #edc6a8;
  --div2bg: rgba(249, 249, 249, 0.408);
  --coordinate-x: #b1b999;
  --coordinate-y: rgb(245, 237, 187);
}

.App {
  background-color: var(--pagebg);
  text-align: center;
  color: black;
  height: 100vh;
  overflow-x: auto;
}

iframe {
  border: 5px solid var(--div2bg);
  border-radius: 5px;
}

.DarkMode {
  background-color: #313646;
  height: 100vh;
  overflow-x: auto;
  color: white;
  text-align: center;

  /* DarkMode Palette */
  --divbg: #848793;
  --divborder: #7ea5bf;
  --containerbg: #4f4f54;
  --coordinate-x: antiquewhite;
  --coordinate-y: azure;
}

.DarkMode .Sandbox {
  filter: invert();
  border-color: #7e5a3d;
}

.DarkMode .thumbnail {
  filter: invert();
  border-color: #7e5a3d;
}

body {
  margin: 0px;
}

* {
  font-family: 'Quantico', sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  padding-inline-start: 0;
}

.img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
  border: solid black 5px;
}

button:disabled {
  color: white;
  border-color: lightgrey;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

:link {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: var(--divbg)
}

input::placeholder {
  text-align: center;
}

/* LERP COIN ANIMATION */
/* CREDIT TO ANIMISTA */

.lerp-coin {
  margin-top: 5px;
  max-width: 35px;
  max-height: 35px;
  cursor: pointer;
}

.lerp-coin:hover {
  -webkit-animation: rotate-scale-up-diag-1 0.75s linear both;
  animation: rotate-scale-up-diag-1 0.75s linear both;
}

@-webkit-keyframes rotate-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes rotate-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}
