/* COLOR PALETTE */
:root {
    --pagebg: #AB8A6F;
    --divbg: #F8ECDE;
    --divborder: #7E5A3D;
    --olive: #8b956d;
    --lightbrown: #fce0bc;
    --darkbrown: #4f433e;
    --orange: #edc6a8;
    --text-light: #e3c8b2;
    --text-dark: #615954;
}

body {
    background-color: var(--pagebg);
}

* {
    font-family: sans-serif;
}

.img {
    width: 200px;
    max-height: 200px;
    border-radius: 100px;
    border: solid black 5px;
  }

h1 {
    font-size: 48px;
}

:link {
    cursor: pointer;
}

.link {
    cursor: pointer;
}