/* COLOR PALETTE */
:root {
  --pagebg: #ab8a6f;
  --divbg: #f8ecde;
  --divborder: #7e5a3d;
  --olive: #8b956d;
  --lightbrown: #fce0bc;
  --darkbrown: #4f433e;
  --orange: #edc6a8;
  --text-light: #e3c8b2;
  --text-dark: #615954;
}

body {
  background-color: var(--pagebg);
}

* {
  font-family: sans-serif;
}

ul {
  padding-inline-start: 0;
}

.img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
  border: solid black 5px;
}

button:disabled {
  color: white;
  border-color: lightgrey;
}

h1 {
  font-size: 48px;
}

:link {
  cursor: pointer;
}

.link {
  cursor: pointer;
}
