@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

.CardContainer {
  padding: 2vmin 5vmin 3vmin 5vmin;
  background-color: var(--lightblue);
  border: 0.5vmin solid var(--olive);
  border-radius: 1vmin;
}

.BreakContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SectionBreak {
  height: 2px;
  width: 50vmin;
  background: var(--text-dark);
}

.AuthHeader {
  font-size: 5vmin;
}

.PageContainer {
  padding: 2vmin 0vmin 0vmin 0vmin;
}
