.GradientDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-top: 2em;
}

.ColorToolsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 98%;
  border: 5px solid #7E5A3D;
  border-radius: 5px;
  background-color: var(--divbg);
  padding: 50px 0px;
}

.ColorPickerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 12em;
}

.ColorPickerLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ColorPickerLabel > input {
  margin-left: 5px;
}

.ColorInput {
  width: 4em;
  height: 2em;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
}

.GradientBar {
  max-width: 26em;
}